{% extends 'base.twig' %}

{% block body %}
    <h2>{% include 'components/gallery-path-parts.twig' with {'galleryPathParts': gallery} %}</h2>
    <div class="gallery">
        {% include 'components/child-gallery-list.twig' with {'childGalleries': media.getChildGalleries} %}
        <h3>Media</h3>
        <div class="child-medias">
            {% for childMedia in media.childMedias %}
                {% include 'components/display-media.twig' with {'media': childMedia} %}
            {% endfor %}
            {% include 'components/upload-media-form.twig' with {'gallery': galleryId} %}
        </div>
    </div>
{% endblock %}