<h3>Child Galleries</h3>
<div class="child-galleries">
    {% for childGallery in  childGalleries %}
        {% include 'components/display-child-gallery.twig' with {'gallery': childGallery} %}
    {% endfor %}
    <div class="hidden" id="child-gallery-form">
        {% include 'components/create-gallery-form.twig' with {'gallery': gallery} %}
    </div>
    <button type="button" id="child-gallery-button" class="btn child-gallery">+</button>
</div>
