<form method="POST" action="/api/gallery/create">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name"/>
    <input type="hidden" name="parentGallery" value="{{ galleryId }}"/>
    <div class="button-group">
        <input type="button" id="cancel-create-gallery" class="btn btn-cancel" value="Cancel">
        <input type="submit" class="btn" value="Create"/>
    </div>
</form>