<form method="POST" action="/api/gallery/upload" enctype="multipart/form-data">
    <input type="hidden" name="gallery" value="{{ gallery }}">
    <input type="file" name="new-image">
    <input type="submit" value="Upload">
</form>